.Todo {
  display: block;
  background: #fff;
  border-bottom: 1px solid $steam;
  padding: $x6;
}

.Todo__input {
  box-sizing: border-box;
  display: inline-block;
  width: 76%;
  padding: $x2;
  font-size: $text-base;
  border: 0;

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.Todo__input--done {
  text-decoration: line-through;
}

.Todo__delete-btn {
  @extend %transparent-button;
}

.Todo-enter {
  opacity: 0.01;
  transform: scale(0.5) translateY(-50px);
}

.Todo-enter.Todo-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: all 200ms ease-in-out;
}

.Todo-leave {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.Todo-leave.Todo-leave-active {
  opacity: 0.01;
  transform: scale(0.5) translateY(-50px);
  transition: all 200ms ease-in-out;
}
