.Checkbox {
  display: inline-block;
  padding-right: $x4;
  vertical-align: middle;

  input {
    display: none;
  }
}

.Checkbox__svg {
  overflow: hidden;

  rect {
    fill: #fff;
    stroke: $smoke;
  }

  path {
    fill: #fff;
    transform: translateY(50px);
  }

  * {
    transition: all 200ms cubic-bezier(0.15, 0.85, 0.25, 1.15);
  }
}

.Checkbox__svg--checked {
  rect {
    fill: $fireRed;
    stroke: $fireRed;
  }

  path {
    transform: translateY(0);
  }
}
