@import "scss/variables";
@import "scss/mixins";
@import "scss/modules";
@import "scss/components";

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: darken($sunBurn, 5%);
}

.App {
  width: $document-width;
  height: $document-height;
  margin: $x8 auto;
  background: #fff;
  box-shadow: 0 2px 5px rgba(#000, 0.15);
  position: relative;

  @include breakpoint(palm) {
    margin: 0;
  }
}
