//////////////////////////////////////////
// Colors
//////////////////////////////////////////
$sunBurn: #F4E8E5;
$fireRed: #E1633E;
$fireBrick: #BA5233;
$charcoal: #666;
$smoke: #CCC;
$steam: #EEE;

//////////////////////////////////////////
// Layout
//////////////////////////////////////////
$document-width: 375px;
$document-height: 667px;

//////////////////////////////////////////
// Sizes
//////////////////////////////////////////
$x1: 4px;
$x2: $x1 * 2; // 8px
$x3: $x1 * 3; // 12px
$x4: $x1 * 4; // 16px
$x6: $x1 * 6; // 24px
$x8: $x1 * 8; // 32px
$x12: $x1 * 12; // 48px
